/******
Colors:
#49c5b6 - Teal
#ffd560 - Gold
*******/

body,
html {
  min-height: 100%;
  background: #1d1e22;
  color: #ffffff;
}

body {
  font-family: 'PT Serif', serif;
  line-height: 1.2;
  font-size: 18px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
}

p {
  color: #a8abb6;
}

a {
  color: #49c5b6;
  -webkit-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

a:hover {
  color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

.centered {
  text-align: center;
}

.underline {
  position: relative;
  margin-bottom: 4rem;
}

.underline::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 10rem;
  background: #fff;
  bottom: -1.5rem;
  left: calc(50% - 5rem);
}

.accent {
  color: #49c5b6;
  font-weight: 600;
}

strong {
  color: #fff;
}

hr {
  margin: 9rem 0 8rem;
  border: 0;
  height: 10px;
  background: transparent;
  background-image: linear-gradient(
    45deg,
    rgba(73, 197, 182, 0),
    rgba(73, 197, 182, 0) 33.33%,
    #49c5b6 33.33%,
    #49c5b6 66.67%,
    rgba(73, 197, 182, 0) 66.67%,
    rgba(73, 197, 182, 0) 100%
  );
  background-size: 10px 100%;
  width: 100%;
}

.cube {
  position: absolute;
  top: 80vh;
  left: 45vw;
  width: 10px;
  height: 10px;
  border: solid 1px #ffd560;
  -webkit-transform-origin: top left;
  transform-origin: top left;
  -webkit-transform: scale(0) rotate(0deg) translate(-50%, -50%);
  transform: scale(0) rotate(0deg) translate(-50%, -50%);
  -webkit-animation: cube 12s ease-in forwards infinite;
  animation: cube 12s ease-in forwards infinite;
}
.cube:nth-child(2n) {
  border-color: #ffd560;
}
.cube:nth-child(2) {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  left: 25vw;
  top: 40vh;
}
.cube:nth-child(3) {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  left: 75vw;
  top: 50vh;
}
.cube:nth-child(4) {
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
  left: 90vw;
  top: 10vh;
}
.cube:nth-child(5) {
  -webkit-animation-delay: 7s;
  animation-delay: 7s;
  left: 10vw;
  top: 85vh;
}
.cube:nth-child(6) {
  -webkit-animation-delay: 8s;
  animation-delay: 8s;
  left: 50vw;
  top: 10vh;
}

@-webkit-keyframes cube {
  from {
    -webkit-transform: scale(0) rotate(0deg) translate(-50%, -50%);
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 0.15;
  }
  to {
    -webkit-transform: scale(20) rotate(960deg) translate(-50%, -50%);
    transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}

@keyframes cube {
  from {
    -webkit-transform: scale(0) rotate(0deg) translate(-50%, -50%);
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 0.15;
  }
  to {
    -webkit-transform: scale(20) rotate(960deg) translate(-50%, -50%);
    transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  line-height: 1.4;
  margin-top: 1em;
  margin-bottom: 1em;
  color: #fff;
}

.accent-color {
  color: #49c5b6;
}

.content-wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

.h1,
h1 {
  font-size: 3rem;
  line-height: 1.2em;
  margin-bottom: 0.3em;
}

.h2,
h2 {
  font-size: 2.8rem;
  line-height: 1.2em;
  margin-bottom: 0.6em;
}

.h3,
h3 {
  font-size: 2.4rem;
  line-height: 1.5em;
  margin-bottom: 0.6em;
}

.h4,
h4 {
  font-size: 1.7rem;
  line-height: 1.5em;
  margin-bottom: 0.6em;
}

.enlarge-img {
  min-width: 100%;
}

.header-container__wrapper {
  position: relative;
  z-index: 1;
}

.logo-container img {
  max-width: 6rem;
}

.navigation-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  border-bottom: 1px solid #fff;
}

.main-nav {
  font-family: 'Montserrat', sans-serif;
}

.main-nav ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: flex-end;
}

.main-nav ul li {
  margin-left: 1rem;
}

.main-nav ul li a {
  position: relative;
  text-decoration: none;
  padding: 0.5em;
  color: #fff;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  -webkit-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

.main-nav ul li a::before,
.main-nav ul li a::after {
  display: inline-block;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  -moz-transition: -moz-transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s;
}

.main-nav ul li a::before {
  margin-right: 10px;
  content: '[';
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  transform: translateX(20px);
}

.main-nav ul li a::after {
  margin-left: 10px;
  content: ']';
  -webkit-transform: translateX(-20px);
  -moz-transform: translateX(-20px);
  transform: translateX(-20px);
}

.main-nav ul li a:hover::before,
.main-nav ul li a:hover::after,
.main-nav ul li a:focus::before,
.main-nav ul li a:focus::after {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
}

/* Homepage content */

.hero-container {
  padding: 6em 0;
  text-align: center;
  text-shadow: 0px 0px 5px #333;
  margin-bottom: 5rem;
}

.hero.content-wrapper {
  max-width: 55em;
  margin: 0 auto;
}

.hero-container h1 {
  font-size: 3.8rem;
  margin-top: 0.5em;
}

.content-section-2col {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content-section-2col__text {
  flex: 0 0 60%;
}

.content-section-2col__img {
  flex: 0 0 35%;
  padding: 2em;
}

.three-col-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.three-col-content__item {
  flex: 0 0 28%;
}

.three-col-content__item img.icon {
  max-width: 13rem;
}

.accordion-item {
  margin-bottom: 1rem;
  border: 1px solid #2d2d2d;
}

.accordion-item__header.investor-portal {
  background: url('../images/stock-exchange-board-210607.jpg');
}

.accordion-item__header.vendor-locator {
  background: url('../images/maps-vendor-locator.png');
}

.accordion-item__header.websites {
  background: url('../images/source-code.jpg');
}

.accordion-item__header.integrations {
  background: url('../images/integration-cobweb.jpg');
}

.accordion-item__header {
  text-align: center;
  position: relative;
  padding: 2rem 2rem;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  cursor: pointer;
  box-shadow: inset 0px 0px 20px 1px rgba(0, 0, 0, 0.31);
}

.accordion-item__overlay {
  background: rgba(31, 31, 31, 0.85);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transition: background 0.2s ease;
}

.accordion-item__header:hover .accordion-item__overlay,
.accodion-item__header--active .accordion-item__overlay {
  background: rgba(31, 31, 31, 0.7);
}

.accordion-item__header h3 {
  margin: 0;
  font-size: 2.2rem;
  position: relative;
  z-index: 1;
  display: inline-block;
  text-shadow: 0px 0px 5px #333;
}

.accordion-item__body {
  padding: 1rem 2rem 2rem 2rem;
  background: #18191d;
}

/* Blog */
.blog-listing-heading {
  margin-bottom: 0.2em;
  font-size: 1.8rem;
}

.blog-date {
  font-style: italic;
  color: #808080;
}

.hero-container h1.blog-heading {
  font-size: 2.8rem;
}

.content-section--blog {
  max-width: 60%;
  margin: 0 auto;
}

.footer-container__wrapper .content-wrapper {
  border-top: 1px solid #fff;
  padding: 1em 0;
  margin-top: 6em;
}

.footer-container__wrapper > .content-wrapper > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-container__wrapper img.footer-logo {
  max-width: 3rem;
  margin-right: 1rem;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1279px) {
  .content-wrapper {
    max-width: 95%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .navigation-container {
    flex-wrap: wrap;
  }

  .logo-container {
    margin-bottom: 2rem;
  }

  .logo-container,
  .nav-container {
    flex: 1 0 100%;
    text-align: center;
  }

  .main-nav ul {
    justify-content: center;
  }

  .content-wrapper {
    max-width: 90%;
    margin: 0 auto;
  }

  .content-section-2col {
    flex-wrap: wrap;
  }

  .content-section-2col__text {
    order: 2;
    flex: 1 0 100%;
  }

  .content-section-2col__img {
    order: 1;
    flex: 1 0 100%;
  }

  .three-col-content {
    flex-wrap: wrap;
  }

  .three-col-content__item {
    flex: 1 0 100%;
    margin-bottom: 2rem;
  }

  .hero-container h1 {
    font-size: 2.5rem;
  }

  .h1,
  h1 {
    font-size: 2.5rem;
    line-height: 1.2em;
    margin-bottom: 0.3em;
  }

  .h2,
  h2 {
    font-size: 2.2rem;
    line-height: 1.2em;
    margin-bottom: 0.6em;
  }

  .h3,
  h3,
  .accordion-item__header h3 {
    font-size: 2rem;
    line-height: 1.5em;
    margin-bottom: 0.6em;
  }

  .h4,
  h4 {
    font-size: 1.5rem;
    line-height: 1.5em;
    margin-bottom: 0.6em;
  }

  .content-section--blog {
    max-width: 100%;
  }
}
